html, body {
  font-family: Arial;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
} 

dre-dd {
  position: absolute;
}

button {
  display: block;
  background: transparent;
  border: 0;
}
#container {
  font-family: Verdana;
  height: 100%;
  width: 100%;
  background: whitesmoke;
}

ul, li {
  margin: 0;
  padding: 0;
}
li {
  box-sizing: border-box;
  list-style-type: none;
  height: 20px;
  min-width: 130px;
  width: fit-content;
  background: whitesmoke;
  border-bottom: 1px solid darkgray;
  padding: 2px 5px;
}

li.selected {
  background: lightgreen;
}

li:hover {
  background: lightgray;
  color: #329fff;
}
li.hidden {
  display: none;
}

dre-dropdown {
  width: 150px;
}

.dre-dropdown-list {
  width: 150px;
}
.dre-dropdown-list-item {
  width: 100%;
}
.search-input-container {
  border: 1px lightgray solid;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  width: 150px;
}
.fa.fa-search {
  padding: 2px;
}

input,
span {
}

input {
  border: 0px solid transparent;
  height: 20px;
  margin: 0;
  padding: 0;

}
li.closest {
  background: lightblue;
}
.top-result {

}

.block {
  margin: 0 auto;
  height: 100px;
  width: 280px;
  background: red;
}
