html, body {
  font-family: Arial;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
} 

.hidden {
  visibility: hidden;
}

.dd-button {
  display: block;
  background: transparent;
  border: 0;
}

dre-dd#demo {
}

.dre-dd-list-container {
  max-height: 450px;
  overflow-y: auto;
}
