html, body {
  font-family: Arial;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
} 

#container {
  font-family: Verdana;
  height: 100%;
  width: 100%;
  background: whitesmoke;
}

ul, li {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  height: 20px;
  width: 130px;
  background: lightgray;
}

li.selected {
  background: lightgreen;
}

li.hidden {
  display: none;
}

input {
  border: 1px lightgray solid;
  border-radius: 5px;
}
li.closest {
  background: lightblue;
}
